@using SurveyWebAPI.Models;
@model List<Survey>
@{
    ViewBag.Title = "Surveys";
}

    <h2>List of surveys</h2>
 
    @if (!Model.Any())
    {
        <p>List of surveys is empty</p>
    }

    @if (Model.Any())
    {
        <ul>
            @foreach (Survey sur in Model)
            {

                <li> @Html.ActionLink(sur.Name, "Survey", new { id = sur.Id }, null)</li>

            }
        </ul>
    }
