@using SurveyWebAPI.Models;
@model List<Survey>
@{
    ViewBag.Title = "Surveys";
}


<table>
<tr>
    <td style=" width: 50%">
        <h2>List of surveys</h2>
    </td>
    <td style="text-align: right">
        <a href='@Url.Action("CreateSur", "Home")'>
            <input type='button' value='Create new survey' />
        </a>
    </td>
    
</tr>
</table>

@if (!Model.Any())
{
    <p>List of surveys is empty</p>
}

@if (Model.Any())
{
    <ul>
        @foreach (Survey sur in Model)
        {

        <li>
            <span class="maintext">@Html.ActionLink(sur.Name, "Survey", new { id = sur.Id }, null)</span> <br />
            <span class="descrtext">@sur.Description</span><br /><hr />
        </li>

        }
    </ul>
}
